@charset "UTF-8";
/* CSS Document */

a:hover{
    color:#C3C;
    text-decoration:none;
}
a:visited{
    color:#666;
    text-decoration:none;
}
a:active{
    color:#666;
    text-decoration:none;
}
a:link {
    color: #666;
    text-decoration: none; 
}

*{border:0; padding:0; margin:auto;}
li{list-style-type:none;}

body{width:100%; height:auto; }


#wrap{
    width:100%;	
} 
/*
header 부분임
*/
#header {
    width:100%; height:113px; border-bottom:1px solid #bbbbbb;
}
#header .header_wrap{width:1000px;margin:auto;overflow:hidden;}
#header .logo{
    width:245px; height:113px; background-image:url(/template/image/header/cangorulogo.jpg); background-repeat:no-repeat; float:left;
}

#header .searchKeyword{
    margin:70px 0 0 170px; width:250px; height:26px;  float:left;
}
#header .searchKeyword .serchText{
    width:220px; height:22px; float:left; border:1px solid #ebebeb ; color:#504f4f; font-family:Adobe Gothic Std; float:top;
}
#header .searchKeyword .serchButton{
    width:26px; height:26px; float:left; background-image:url(/template/image/header/s_button.jpg); cursor:pointer;
}
#header .memberArea{
    margin:78px 0 0 57px;float:left; width:278px; height:16px;
}

#header .memberArea .mem_in{
    float:left; width:62px; height:16px; background-image:url(/template/image/header/login.jpg); background-repeat:no-repeat; cursor:pointer;
}
#header .memberArea .mem_out{
    float:left; width:62px; height:16px; background-image:url(/template/image/header/logout.jpg); background-repeat:no-repeat; cursor:pointer;
}	
#header .memberArea .mem_join{
    float:left; width:72px; height:16px; background-image:url(/template/image/header/mem_join.jpg); background-repeat:no-repeat; cursor:pointer;
}	
#header .memberArea .basket{
    float:left; width:74px; height:16px; background-image:url(/template/image/header/basket.jpg); background-repeat:no-repeat; cursor:pointer;
}	
#header .memberArea .mypage{
    float:left; width:70px; height:16px; background-image:url(/template/image/header/mypage.png); background-repeat:no-repeat; cursor:pointer;
}
#header .memberArea .adminorder{
    float:left; width:70px; height:16px; background-image:url(/template/image/header/order_management.png); background-repeat:no-repeat; cursor:pointer;
}
#header .memberArea .admingoods{
    float:left; width:70px; height:16px; background-image:url(/template/image/header/admingoods.png); background-repeat:no-repeat; cursor:pointer;
}
#header .memberArea .memberlist{
    float:left; width:70px; height:16px; background-image:url(/template/image/header/member_management.png); background-repeat:no-repeat; cursor:pointer;
}  
#header .memberArea .order{ 
    float:left; width:70px; height:16px; background-image:url(/template/image/header/buy_list.jpg); background-repeat:no-repeat; cursor:pointer;
}

/*
        navi
*/	 

#navi{					
    width:100%; height:50px;margin:auto; 
    border-bottom:1px solid #bbbbbb;
}
#navi .navi_wrap{
    width:1000px;margin:auto;overflow:hidden;
}

#navi ul{
    float:left;width:1000px; height:50px; margin:0 0 0 10px; 
    padding:10px 0 10px 0; 
    /* overflow:hidden;  */
}

#navi ul li{
    width:100px; height:100px; float:left;
    position:relative; cursor:pointer;  margin-bottom:5px;
}

/*
main_content
*/
#main .content_wrap{width:1200px;margin:auto;overflow:hidden;}

#main_content{
    width:1100px; min-height:450px; margin:0 auto 10px; overflow:hidden;
}

/*
footer
*/
#footer{width:100%;height:113px;border-top:1px solid #bbb;}
#footer .footer_wrap{width:1000px;margin:10px auto;overflow:hidden;}
#footer .footer_wrap .ft_lt{margin:10px auto;}
